// <body>
$body-bg: #fff
$body-color: #444

// <h1>, <h2>, <.subheader>
$heading-color: #181818
$subheader-color: #777

// <blockquote>
$blockquote-color: #777
$blockquote-cite-color: #555
$blockquote-cite-link-color: #555
$blockquote-border-left: #ddd

// <p>
$paragraph-lead-color: #777

// <strong>
$strong-tag-color: #333

// <hr />
$hr-color: #ddd

// <a>
$link-color: #333

// Lists
$columns: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen
$offsets: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirteen, fourteen, fifteen