h1, h2, h3, h4, h5, h6
  color: $heading-color
  font-family: "Georgia", "Times New Roman", serif
  font-weight: normal

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  font-weight: inherit

h1
  font-size: 46px
  line-height: 50px
  margin-bottom: 14px

h2
  font-size: 35px
  line-height: 40px
  margin-bottom: 10px

h3
  font-size: 28px
  line-height: 34px
  margin-bottom: 8px

h4
  font-size: 21px
  line-height: 30px
  margin-bottom: 4px

h5
  font-size: 17px
  line-height: 24px

h6
  font-size: 14px
  line-height: 21px

.subheader
  color: $subheader-color

p
  margin: 0 0 20px 0

p img
  margin: 0

p.lead
  font-size: 21px
  line-height: 27px
  color: $paragraph-lead-color

em
  font-style: italic

strong
  font-weight: bold
  color: $strong-tag-color

small
  font-size: 80%

// Blockquotes
blockquote, blockquote p
  font-size: 17px
  line-height: 24px
  color: $blockquote-color
  font-style: italic

blockquote
  margin: 0 0 20px
  padding: 9px 20px 0 19px
  border-left: 1px solid $blockquote-border-left
  cite
    display: block
    font-size: 12px
    color: $blockquote-cite-color
    &:before
      content: "\2014 \0020"
    a, a:visited
      color: $blockquote-cite-link-color

hr
  border: solid $hr-color
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
